* {
    margin: 0;
}
div {
    padding: 100px;
    border: 10px solid red;
    vertical-align:bottom;
    max-width: fit-content;
    align-items: center;
    text-align: center;
}
p {
    display: inline-block;
    background-color: blue;
    color: white;
    height: 100px;
    width: 1000px;
    filter: grayscale();
    vertical-align:baseline;
}
@keyframes ptag {
    0% {filter: grayscale();}
    100% {filter: brightness(50%);}
}
p:hover {
    animation-name: ptag;
    animation-duration: 1s;
}