*{
    color: aliceblue;
    text-align: center;
    font-family: 'Ysabeau', sans-serif;
    font-weight: 400;
}

body{
    background-color: rgba(0, 0, 0, 0.9);
}

#heading{
    color: rgba(0, 255, 255, 0.87);
    text-align: center;
}

.container {
    text-align: center;
    margin: 50px auto;
    width: 320px;
    padding: 10px;
    border: 5px solid aqua;
    border-radius: 5px;
}

#username_name{
    color: aqua;
    margin-right: 75px;
}
#username {
    margin-bottom: 10px;
    color: aqua;
    background-color: rgba(0, 0, 0, 0);
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: aqua;
}

#password_name{
    color: aqua;
    margin-right: 75px;

}
#password {
    margin-bottom: 10px;
    color: aqua;
    background-color: rgba(0, 0, 0, 0);
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: aqua;
}
#remember_name {
    color: aqua;
    font-size: 15px;
    margin-bottom: 10px;
}
#remember{
    margin-bottom: 20px;
    color: aqua;
    background-color: aqua;
}


#submit {
    color: aqua;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid aqua;
    border-radius: 5px;
    padding: 7px 30px;
    transition: 0.3s;
}

#submit:hover {
    color: rgba(0, 0, 0, 0.9);
    font-weight: 900;
    background-color: aqua;
    border-style: none;
    transition: 0.3s;
}
